<div class="container mt-5">
  <h2 class="mb-4">Locales</h2>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/cancha1.jpeg" class="card-img-top" alt="Cancha 1">
        <div class="card__content">
          <p class="card__title">Cancha Sintetica las Peñas</p>
          <p class="card__description">Ubicación Av. Las Peñas 903, Socabaya 04012, Perú. Arequipa. Perú</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/cancha2.jpeg" class="card-img-top" alt="Cancha 2">
        <div class="card__content">
          <p class="card__title">FOODBALL</p>
          <p class="card__description">Ubicacion Calle Leon Velarde 424 - YANAHUARA, Arequipa, Perú , Arequipa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/cancha3.jpeg" class="card-img-top" alt="Cancha 2">
        <div class="card__content">
          <p class="card__title">SachaGol</p>
          <p class="card__description">Ubicación Av. Fernandini S/N (al costado del vivero Girasoles), Sachaca, Perú. Arequipa. Perú</p>
        </div>
      </div>
    </div>

