<div class="container mt-5">
  <h2 class="mb-4">Nuestras Canchas</h2>
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="assets/cancha1.jpeg" class="card-img-top" alt="Cancha 1">
        <div class="card-body">
          <h5 class="card-title">Cancha de Fútbol</h5>
          <p class="card-text">Ubicación: Zona A</p>
          <p class="card-text">Precio: $30/hora</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="assets/cancha2.jpeg" class="card-img-top" alt="Cancha 2">
        <div class="card-body">
          <h5 class="card-title">Cancha de Fútbol</h5>
          <p class="card-text">Ubicación: Zona B</p>
          <p class="card-text">Precio: $35/hora</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="assets/cancha3.jpeg" class="card-img-top" alt="Cancha 2">
        <div class="card-body">
          <h5 class="card-title">Cancha de Fútbol</h5>
          <p class="card-text">Ubicación: Zona B</p>
          <p class="card-text">Precio: $35/hora</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="assets/cancha5.jpeg" class="card-img-top" alt="Cancha 2">
        <div class="card-body">
          <h5 class="card-title">Cancha de Fútbol</h5>
          <p class="card-text">Ubicación: Zona B</p>
          <p class="card-text">Precio: $35/hora</p>
        </div>
      </div>
    </div>
